/** RESET **/

/** DEBUG **/

.debug{
    min-height: 500px; 
    border: 2px dashed black;
}
.d-b{
    min-height: 300px;
}


/******* HEADER ********/
.header{
    background-color:rgb(44, 62, 80) ;
    color: white;
    
} 


/******* MAIN ********/

/*** Section Hero ***/
.hero{
    background-color:rgb(53, 188, 155);
}
/*** Section Portifolio ***/
/* debug */
.portifolio{
    background-color: aqua;

}


/*** Section About***/
.about{
    background-color: rgb(53, 188, 155);
}


/******* FOOTER ********/
.social{
    background-color: rgb(58, 84, 109);
}
.copyright{
    background-color: rgb(44, 62, 80);
}
.linea{
    height: 4px;
    min-width: 20%;
    background-color: rgb(0, 0, 0);
}