/** DEBUG **/
.debug{
    min-width: 300px;
    min-height: 500px;
    padding:  2rem 0;
}


/******* HEADER ********/
.header{
    background-color:rgb(44, 62, 80) ;
    color: white;
    height: 90px;
}

.hero{
    background-color:rgb(53, 188, 155);
}
